.rte-root {
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.rte-root .ql-editor {
  width: 100%;
  margin: 0 0 10px 0;
}

.rte-root .ql-toolbar {
  background: #f5f5f5;
}

.rte-root .ql-container {
  position: static;
}

.rte-size-small {
  margin-bottom: 0;
  padding: 0;
}

.rte-size-small .ql-editor {
  width: 100%;
  margin: 0 0 10px 0;
}

.rte-size-small .ql-toolbar {
  background: #f5f5f5;
}

.rte-size-small .ql-container {
  position: static;
  height: 200px;
}

.rte-size-medium {
  margin-bottom: 0;
  padding: 0;
}

.rte-size-medium .ql-editor {
  width: 100%;
  margin: 0 0 10px 0;
  background: #f5f5f5;
}

.rte-size-medium .ql-toolbar {
  background: #f5f5f5;
}

.rte-size-medium .ql-container {
  position: static;
  height: 400px;
}

.rte-size-large {
  margin-bottom: 0;
  padding: 0;
}

.rte-size-large .ql-editor {
  width: 100%;
  margin: 0 0 10px 0;
}

.rte-size-large .ql-toolbar {
  background: #f5f5f5;
}

.rte-size-large .ql-container {
  position: static;
  height: 600px;
}
