.breadcrumb-title {
  text-align: center;
  color: black;
  border-right: 1px solid #666666;
  margin-right: 16px !important;
  padding-right: 16px;
  font-weight: 600;
  font-family: Roboto;
}

.model-icon {
  margin-right: 16px;
}

.dash-inner-container {
  @media (max-width: 500px) {
    max-width: 75%;
  }

  @media (max-width: 0px) {
    max-width: 100%;
  }
}
