.error-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f44336;
  color: #ffffff;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin-bottom: 16px;
  font-size: 36px;
}
