.post-body {
  font-weight: 400 !important;
  font-size: 0.95rem !important;
  letter-spacing: 0.25 !important;
  line-height: 1.5 !important;
}

.post-body img {
  width: 100% !important;
  border-radius: 8px !important;
  padding-bottom: 0px !important;
  transform: scale(75%);
}
.post-body p {
  margin-top: 4px;
}

.post-body .ql-align-right {
  text-align: right !important;
}

.post-body .ql-align-left {
  text-align: left !important;
}

.post-body .ql-align-center {
  text-align: center !important;
}
