.paragraph-section-title {
  border-bottom: 1px solid black;
  padding-bottom: 8px !important;
  margin-bottom: 12px !important;
  font-weight: bold;
}

.paragraph-body {
  font-size: 1rem !important;
  font-weight: 500 !important;
}
