.option {
  padding: 8px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s;
  z-index: 9999;
}
.option-dense {
  padding: 4px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s;
  z-index: 9999;
}

.option:hover,
.option:focus,
.option.selected {
  background-color: #f5f5f5;
}
