.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-trigger {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.tooltip-content {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
  color: #fff;
  background-color: var(--color-text-primary);
  border-radius: 4px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  line-height: 1.5;
  /* letter-spacing: 0.03rem; */
  max-width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  white-space: nowrap;
  overflow: visible !important;
}

.tooltip-content--top {
  top: calc(-100% - 5px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-content--right {
  top: 50%;
  left: calc(100% + 20px);
  transform: translateY(-50%);
}

.tooltip-content--bottom {
  transform: translate(-50%, 0);
  top: calc(100% + 15px);
  left: 50%;
}

.tooltip-content--left {
  top: 50%;
  right: calc(100% + 20px);
  transform: translateY(-50%);
}

.tooltip-content[style*="visibility: visible"] {
  opacity: 1;
}
