.values-grid-container {
  justify-content: center !important;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.values-list-columns {
  justify-content: center !important;
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
}

.values-container {
  font-weight: bold !important;
  margin-bottom: 16px !important;
  border-bottom: 1px solid black !important;
  padding-bottom: 8px !important;
}

.values-root {
  margin-bottom: 32px !important;
}
