.button-base {
  border: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Roboto', 'Poppins', sans-serif;
}

.button-base.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
}

.button-icon {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: '#f5f5f5' !important;
}

.start-icon {
  margin-right: 0.25rem;
  margin-left: 0;
}

.end-icon {
  margin-right: 0;
  margin-left: 0.25rem;
}

.success-button-standard {
  background-color: inherit !important;
  color: var(--color-success-main) !important;
  box-shadow: none !important;
}

.success-button-standard:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-success-main) !important;
}

.success-button-outlined {
  background-color: inherit !important;
  color: var(--color-success-main) !important;
  border: 1px solid var(--color-success-light) !important;
}

.success-button-outlined:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-success-main) !important;
}

.error-button-standard {
  background-color: var(--color-error-main) !important;
  color: #f5f5f5 !important;
  box-shadow: none !important;
}

.error-button-standard:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-error-dark) !important;
}

.error-button-outlined {
  background-color: inherit !important;
  color: var(--color-error-main) !important;
  box-shadow: none !important;
  border: 1px solid var(--color-error-light) !important;
}

.error-button-outlined:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-error-main) !important;
}

.info-button-standard {
  background-color: var(--color-info-dark) !important;
  color: #f5f5f5 !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.info-button-standard:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-info-light) !important;
}

.info-button-outlined {
  background-color: inherit !important;
  color: var(--color-info-dark) !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  border: 1px solid var(--color-info-dark) !important;
}

.info-button-outlined:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-info-dark) !important;
}

.primary-button-standard {
  background-color: var(--color-primary-main) !important;
  color: #f5f5f5 !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.primary-button-standard:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-primary-light) !important;
}

.primary-button-outlined {
  background-color: inherit !important;
  color: var(--color-primary-main) !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  border: 1px solid var(--color-primary-main) !important;
}

.primary-button-outlined:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-primary-main) !important;
}

.secondary-button-standard {
  background-color: var(--color-secondary-main) !important;
  color: #f5f5f5 !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.secondary-button-standard:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-secondary-dark) !important;
}

.secondary-button-outlined {
  background-color: inherit !important;
  color: var(--color-secondary-main) !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  border: 1px solid var(--color-secondary-main) !important;
}

.secondary-button-outlined:hover {
  color: #f5f5f5 !important;
  background-color: var(--color-secondary-main) !important;
}
