.toggle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 14px;
  color: var(--color-primary-main);
  font-weight: bold;
  border-radius: 0px;
  background-color: inherit;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button:first-child {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.toggle-button:last-child {
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.toggle-button.active {
  background-color: var(--color-primary-main);
  color: #fff;
}

.toggle-button:hover {
  background-color: var(--color-primary-main);
  color: #fff;
}
