.alert-snackbar {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 6px;
  border-radius: 4px;
  color: #fff;
  opacity: 0;
  z-index: 9999;
  box-shadow: var(--shadow-2);
}

.dir-left {
  animation: slide-in-left 0.3s ease-in-out forwards;
}
.dir-right {
  animation: slide-in-right 0.3s ease-in-out forwards;
}
.dir-bottom {
  animation: slide-in-bottom 0.3s ease-in-out forwards;
}
.dir-top {
  animation: slide-in-top 0.3s ease-in-out forwards;
}

.alert-snackbar.alert-success {
  background-color: var(--color-success-main);
}

.alert-snackbar.alert-error {
  background-color: var(--color-error-main);
}

.alert-snackbar.alert-warning {
  background-color: var(--color-warning-dark);
}

.alert-snackbar.alert-info {
  background-color: var(--color-info-light);
}

.top-left {
  top: 56px;
  left: 15px;
  transform: translateX(0);
}

.top-center {
  top: 56px;
  transform: translateX(-50%);
}

.top-right {
  top: 56px;
  right: 15px;
  transform: translateX(0);
}

.bottom-left {
  bottom: 20px;
  left: 15px;
  transform: translateX(0);
}

.bottom-center {
  bottom: 20px;
  transform: translateX(-50%);
}

.bottom-right {
  bottom: 20px;
  right: 15px;
  transform: translateX(0);
}

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
