@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fab-animate {
  animation-fill-mode: both;
}

.fade-in-fab {
  animation: fadeIn 0.3s ease-in;
}
.fade-out-fab {
  animation: fadeOut 0.3s ease-out;
}
