.chip {
  margin-right: 8px;
  margin-bottom: 8px;
  min-width: 50px;
}

.chipContainer {
  max-width: 200px;
  min-width: 200px;
  padding: 0 16px;
}

@media (max-width: 900px) {
  .chipContainer {
    max-width: 1000px;
  }
}

.chipText {
  font-size: 0.8rem;
  font-weight: 100;
  font-family: "Roboto";
}

.sidebarContainer {
  position: sticky;
  top: 60px;
}

@media (max-width: 900px) {
  .sidebarContainer {
    position: static;
  }
}

.divider {
  margin: 8px 0 12px 0 !important;
}

.headerText {
  color: #222;
  font-weight: 600;
  margin-bottom: 16px;
}

.launchButton {
  color: #1976d2;
}

.launchButton:hover {
  color: #90caf9;
}

.tooltip {
  background-color: #bdbdbd;
  color: #ffffff;
  font-size: 11px;
}
