.not-found-illustration {
  width: 325px;
  margin-bottom: 16px;
}

.not-found-link {
  padding: 6px;
  border: 2px solid var(--color-primary-main);
  border-radius: 4px;
  color: var(--color-primary-main);
  text-decoration: none;
  transition: background-color 0.3s;
  width: 70px;
}

.not-found-link:hover {
  background-color: var(--color-primary-main);
  color: #fff;
}
