.mtm-transfer-list {
  width: 100%;
  max-height: 260px;
  border-radius: 4px !important;
  scrollbar-width: thin !important;
  scrollbar-color: #ccc transparent !important;
}

.mtm-transfer-list::-webkit-scrollbar {
  width: 10px !important;
}

.mtm-transfer-list::-webkit-scrollbar-thumb {
  background: #ccc !important;
  border-radius: 4px !important;
}

.mtm-transfer-list::-moz-scrollbar {
  width: 10px !important;
  height: 10px !important;
  background: #ccc;
  border-radius: 4px;
}

.mtm-transfer-list::-moz-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
