.error-item {
  width: 45%;
  display: flex;
  align-items: flex-start;
  background-color: #ffebee;
  border: 1px solid var(--color-error-main);
  border-radius: 4px;
  padding: 4px 0px 4px 0px;
  position: relative;
}

.error-clear-button {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #f44336 !important;
  outline: none;
  transition: color 0.3s ease;
  position: absolute;
  top: 0px;
  right: 0px;
}

.error-clear-button:hover {
  color: #c62828 !important;
}

.error-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.error-text {
  font-size: 14px;
  margin-top: 2px;
  word-break: break-word;
}
