.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-group input[type="text"],
.input-group input[type="number"] {
  flex: 1;
  width: 100%;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-family: "Roboto", "Poppins", sans-serif;
  margin: 2px;
}
