.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;
  color: inherit;
}

.list-item-icon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.list-item-text {
  display: flex;
  flex-direction: column;
}
.list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  color: inherit;
  margin: 4px 0px;
  text-underline-offset: 4px;
}
