.panel-header {
  box-shadow: var(--shadow-1);
  background-color: var(--color-primary-main);
  color: #f5f5f5;
  padding: 8px 16px 8px 16px;
  align-items: flex-start;
  border-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  display: flex;
}

.panel-header-icon {
  color: var(--color-secondary-main) !important;
  margin-right: 16px;
}
