.input-root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-small {
  padding: 2px;
  padding-left: 6px;
}
.input-medium {
  padding: 4px;
  padding-left: 6px;
}
.input-large {
  padding: 8px;
  padding-left: 6px;
}
.input-xlarge {
  padding: 12px;
  padding-left: 6px;
}

.base-input {
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #495057;
  background-color: #f5f5f5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: Roboto;
  font-weight: 500;
}

.base-input:focus {
  border-color: var(--color-primary-light);
  outline: 0;
  box-shadow: 0 0 0 0.005rem var(--color-primary-light);
}

.base-input.error {
  border-color: #dc3545;
}

.base-input.disabled {
  background-color: #e9ecef;
  opacity: 0.65;
  pointer-events: none;
}

.base-input::placeholder {
  color: #6c757d;
}

.base-input.textarea {
  resize: vertical;
}

.base-input[type="number"] {
  appearance: textfield;
}

.base-input[type="number"]::-webkit-inner-spin-button,
.base-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
