.value-title {
  font-weight: 500 !important;
  font-size: 1rem !important;
  margin-top: 4px;
}
.value-icon {
  color: var(--color-primary-main);
}
.value-icon-alt {
  color: var(--color-secondary-main) !important;
}

.value-container {
  min-width: 100%;
  margin: 8px 0px;
  z-index: 1;
}
