.media {
  position: relative;
  max-width: 100%;
  padding-bottom: 56.25%;
}

.media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-mini {
  width: 128px;
  height: 90px;
}

.media-card {
  width: 325px;
  height: 182.81px;
}

.media-xsmall {
  width: 384px;
  height: 216px;
}

.media-small {
  width: 512px;
  height: 288px;
}

.media-medium {
  width: 640px;
  height: 360px;
}
.media-large {
  width: 768px;
  height: 432px;
}
.media-xlarge {
  width: 896px;
  height: 504px;
}

.media-image {
  width: 100%;
  height: "auto";
  border-radius: 8px;
}

.media-caption {
  margin-top: 8px;
  font-size: 14px;
  color: var(--color-text-secondary);
  position: absolute;
  bottom: 0;
  left: 50%;
}
